body{
    background-image: url('bg\ img\ ISD.jpg');
    background-size: cover;
    background-color: rgba(255, 255, 255, 1);
  }
  .image{
    position: absolute;
    top: 0;
    left: 1cm;

  }
  .text-bg-dark{
    background-color: aqua;
  }
  #typing{
    margin-top: 400px;
    font-size: 45px;
    text-align: center;
  }
  @media (max-width: 480px) {
    #typing {
      font-size: 12px;
      margin-top: 200px;
        color: #ffffff;
    }
    }
    @media (max-width: 768px) {
    #typing {
      font-size: 15px;
      margin-top: 200px;
         color: #ffffff;
    }
  }